<section>
    <div class="container__btns">
        <div>
            <h2>{{nombreBtnSeleccionado.toUpperCase()}}</h2>
        </div>
        <div class="">
           <!--  <input type="button"  name ="borrar"class="btn btn-danger m-2"value="{{palabraBorrar}}" (click)="borrarCategorias()" >
            <input type="button"  class="btn btn-primary m-2"value="{{palabraActualizar}}" name="{{palabraActualizar}}" (click)="abrirModalCategorias($event)">
            <input type="button"  class="btn btn-success m-2"value="{{palabraAgregar}}" name="{{palabraAgregar}}" (click)="abrirModalCategorias($event) "> -->
        </div>
    </div>
    <div class="container__table table-responsive " >
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                
              </tr>
            </thead>
            <tbody class="tbody" (click)="seleccionarCategoriaProId($event)">
              <tr *ngFor="let p of listaCategorias">
                  <td>{{p.id}}</td>
                  <td>{{p.categoria}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div #myModal class="modal" [style.display]="modalDisplay">
         <div class="modal-content">
          <div class="d-flex justify-content-end mx-3 mt-0 mb-0">
            <span class="close" (click)="cerrarDisplay() ">&times;</span>
          </div>
          <div class="">
            <div class="d-flex justify-content-center mb-3">
              <h2> Categoria</h2>
            </div>
            <div class="d-flex justify-content-end">
            </div>
          </div>
        </div>
      </div>

</section>    
