

  
  <body >
    <header class="header">
      <div>
        <h1>FACTURACION</h1>
      </div>
      <div>
        <img src="../../assets/images/factura.png" (click)="abrirModal($event)"alt="" [(ngModel)]="btnCarrito" class="btnCarrito" [ngClass]="vibro">
        <input type="button" class="btn btn-dark p-2 m-2" value="Cerrar Sesion" (click)="cerrarSesion()">
      </div>
    
    </header>
    <main>
      <section class="container__sections">
        <section class="section__left">
            <div class="container__profile">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
              <h5>{{userLocalStorage.nombre}} </h5>
              <small class="text-primary">Empleado Sucursal</small>

            </div>
            <div class="container__actions">
              <input type="button" class="btn btn-warning"value="Ver Productos" >
            </div>
          </section>

        <section class="section__right">
            <div class="container__btns w-100 p-2 d-flex justify-content-center">
                <div class="d-flex w-50">
                  
                </div>
               <!--  <div class="d-flex w-50 justify-content-end">
                    <input type="button"  name ="borrar"class="btn btn-danger m-2 p-2"value="Borrar" >
                    <input type="button"  class="btn btn-primary m-2 p-2"value="Actualizar" >
                    <input type="button"  class="btn btn-success m-2 p-2"value="Añadir" >
                </div> -->
            </div>
            <div class="container__table table-responsive  " >
                <table id="tabla" datatable class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <!-- <th scope="col">Proveedor</th> -->
                        <th scope="col">Precio(Und)</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Accion</th>

                        <!-- <th scope="col">Precio total</th> -->
                      </tr>
                    </thead>
                    <tbody class="tbody"  >
                        
                      <tr *ngFor="let p of listaProductos">
                        <td >{{p.id}}</td>
                        <td>{{p.nombre}}</td>
                        <td>{{p.idCategoria.categoria}}</td>
                        <!--    <td>{{p.idProveedor.nombre}}</td> -->
                        <td>${{p.precioUnidad}}</td>
                        <!--  <td>${{p.precioTotal}}</td> -->
                        <td><input  type="number" class="w-50 m-auto"(change)="obtenerValorIna2(ina2.value)" #ina2 placeholder="1"  ></td>
                        <td (click)="seleccionarProductoProIdBtn($event)"><input type="buttton" value="Añadir a Factura" class="btn btn-success"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </section>
      </section>
      <app-modal-factura  [modalDisplay]="modalDisplay"(modalDisplayDashboard)="modalDisplay1" [listaProductosFactura] = "listaProductosEnFactura" ></app-modal-factura>
    </main>
    <footer>
    
    </footer>
    
</body>
    