
  
  <body>
  <header class="header">
    <div>
      <h1>INVENTARIO</h1>
    </div>
    <div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn2AEbM7ydqbtg3YNDf_5Kv-c2GslnA_-hcw&usqp=CAU" alt="">
    </div>
  
  </header>
  <main>
    <section class="container__sections">
      <section class="section__left">
        <div class="container__profile">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
          <h5>Empleado Bodega </h5>
  
        </div>
        <div class="container__actions">
          <input type="button" class="btn btn-warning"value="Categoria" (click)="cambiarNombreBtnSeleccionado('categoria')">
          <input type="button" value="Proveedores"  (click)="cambiarNombreBtnSeleccionado('proveedores')">
          <input type="button" value="Productos"  (click)="cambiarNombreBtnSeleccionado('productos')">
        </div>
      </section>
      <section class="section__right">
        <app-crud [nombreBtnSeleccionado] = "nombreBtnSeleccionado"></app-crud>
      </section>
    </section>
  </main>
  <footer>
  
  </footer>
  </body>
  