
  
  <body>
  <header class="header">
    <div>
      <h1>INVENTARIO</h1>
    </div>
    <div>
      <input type="button" value="Cerrar sesion" class="btn btn-dark p-2" (click)="cerrarSesion()">
    </div>
  
  </header>
  <main>
    <section class="container__sections">
      <section class="section__left">
        <div class="container__profile">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
          <h5>{{userLocalStorage.nombre}} </h5>
          <small class="text-primary">Empleado Bodega</small>
        </div>
        <div class="container__actions">
          <input type="button" class="btn btn-warning"value="Categoria" (click)="cambiarNombreBtnSeleccionado('categoria')">
          <input type="button" value="Proveedores"  (click)="cambiarNombreBtnSeleccionado('proveedores')">
          <input type="button" value="Productos"  (click)="cambiarNombreBtnSeleccionado('productos')">
        </div>
      </section>
      <section class="section__right">
        <div *ngIf="nombreBtnSeleccionado=='productos'">

          <app-crud-productos [nombreBtnSeleccionado] = "nombreBtnSeleccionado"></app-crud-productos>
        </div>

        <div *ngIf="nombreBtnSeleccionado=='categoria'">

          <app-crud-categorias [nombreBtnSeleccionado] = "nombreBtnSeleccionado"></app-crud-categorias>
        </div>
        <div *ngIf="nombreBtnSeleccionado=='proveedores'">

          <app-crud-proveedores [nombreBtnSeleccionado] = "nombreBtnSeleccionado"></app-crud-proveedores>
        </div>
       

      </section>
    </section>
<!-- 
    <div class="send_email">
      <div class="container">
        <h1>FormSubmit Demo</h1>
        <form target="_blank" action="https://formsubmit.co/marlongyes@gmail.com" method="POST">
          <div class="form-group">
            <div class="form-row">
              <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Full Name" required>
              </div>
              <div class="col">
                <input type="email" name="email" class="form-control" placeholder="Email Address" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
          </div>
          <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
        </form>
      </div>
    </div>
    <input type="button" value="Enviar fo" (click)="enviarForm()"class ="btn btn-warning">
   -->
  </main>
  <footer>
  
  </footer>
  </body>
  