<style>
    .container__login--top img{
    width: 80px;
    border-radius: 100%;
    }
    .container__login--top{
      height: 100%;
    }
    .container__text{
      background:#03092164 url("../assets/images/fondo1.jpg");
      background-repeat: none;
      background-size: cover;
      background-position: 50%;
      background-blend-mode: darken;
      color:white;
    }
    .box_shadow{
      box-shadow: 0px 0px 20px #3b3b3b;
    }
    .bg-image{
  background: rgba(0, 0, 0, 0.447) url(../../assets/images/ropa-fondo-2.jpg);
  background-repeat: none;
  background-size: contain;
  background-blend-mode: darken;
} 
.sect{
  height: 100vh;
}
    </style>
    <section class=" h-100 d-flex justify-content-center bg-image" >
    
    <section class=" sect d-flex justify-content-center w-75 p-5 ">
      <div class="w-50 container__text box_shadow">
        <div class="d-flex flex-column justify-content-center p-5 ">
          <h1>Inicio Sesión </h1>
          <hr>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut illo perferendis vel eius iure minus officia! Asperiores perspiciatis odit consequuntur!</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nam?</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nam?</p>
    
    
        </div>
      </div>
    <div class=" box_shadow bg-primary w-50 m-auto d-flex align-items-center flex-column justify-content-center  container__login--top">
      <img class=""src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
      <div class="d-flex flex-column m-3"> 
    
        <form class="text-light">
          <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="password" name="password">
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-light m-2" (click)="iniciarSesion()">Iniciar Sesion</button>
          </div>
        </form>
      </div>
    
    </div>
    </section>
    </section>
    <section>
    </section>
    
    
